backports.functools-lru-cache==1.5
Click==7.0
cycler==0.10.0
ffmpy==0.2.2
imutils==0.5.3
itsdangerous==1.1.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.4
mpmath==1.1.0
numpy==1.16.5
opencv-python==4.1.1.26
pandas==0.24.2
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.3
scipy==1.2.2
six==1.12.0
subprocess32==3.5.4
sympy==1.4
Werkzeug==0.16.0
