
@media only screen and (min-width: 1600px) {

  .Carousel {
    width: 80%;
  }
}

@media only screen and (max-width: 1599px) {

  .Carousel {
    width: 96%;
  }
}

.Carousel {
  margin: auto;
}

.sessionCardDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.sessionCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shotCardDiv {
  display: flex;
  justify-content: center; 
  margin-bottom: 50px;
}

.shotCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.fa-trophy {
  color:  rgb(251, 198, 88);
}

.fa-frown-open {
  color:  #51bcda;
}