.navBar {
  background-color: rgb(46, 46, 44);
  position: fixed !important;
  width: 100%;
  height: 100px;
  z-index: 1;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 40px;
}

.rightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
}

.user{
  margin-top: 15px;
  margin-right: 5px;
  color: rgb(244, 243, 239);
  font-weight: bold;
  font-size: 1.2rem;
}

.fas {
  color: #FA8320;
  padding-right: 10px;
}

.nav_logo {
  color: rgb(244, 243, 239);
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  line-height: 1.8rem;
  font-variant: small-caps;
  font-weight: bold;
}

.nav_logo:hover {
  color:  rgb(251, 198, 88);
  text-decoration: none;
  font-weight: bold;
}
