@media only screen and (min-width: 1900px) {

  .statContainer {
    width: 80%;
    height: 500px;
  }

  .cardHeader {
    font-size: 24px;
  }

  .statCard {
    width: 300px;
    height: 180px;
    margin-right: 100px;
  }

}

@media only screen and (max-width: 1600px) {

  .statContainer {
    width: 70%;
  }

  .statCard {
    width: 14rem;
    height: 10rem;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 1599px) {

  .statContainer {
    width: 90%;
  }

  .statCard {
    width: 11rem;
    height: 10rem;
    margin-right: 70px;
  }

}

.statContainer {
  display: block;
  margin: auto;
  border-style: solid;
  border-color: #c2bebe;
  border-width: 1px;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .statContainerTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    margin-right: -90px;
  }

  .statContainerBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: -90px;
  }
  
  .statCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .redStatCard {
    border-width: 5px;
  }

  .greenStatCard {
    border-width: 5px;
  }

  